

    <div th:fragment="account-create-product">
        <div class="panel panel-default" onload="loadFileInput()">
            <div class="panel-heading">
                <ul class="nav nav-tabs nav-justified" style="{background-color:none}">
                    <li class="active"><a href="#" data-toggle="tab">Dados do Produto</a></li>
                    <li class="disabled"><a href="#">Imagens do Produto </a></li>
                </ul>

            </div>

            <form id="categoriaPricipal" accept-charset="utf-8" method="post" enctype="multipart/form-data" th:action="@{/produto}" th:object="${produtoTO}" class="form-horizontal">
                <input id="categoriaProduto" type="hidden" th:field="*{categoriaId}"/>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input  th:field="*{nome}" type="text"  value="" class="form-control"/></div>
                        
                        <div th:if="${#fields.hasErrors('nome')}" class="alert alert-danger form-control input-md" th:errors="*{nome}" role="alert"></div>
                        
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Price</label>
                        <div class="col-sm-9">
                            <input th:field="*{preco}" type="text" min="1" required="required" class="form-control"/>
                        </div>
                        <div th:if="${#fields.hasErrors('preco')}" 
                        class="alert alert-danger form-control input-md"                                      th:errors="*{preco}" role="alert"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Quantidade Disponivel</label>
                        <div class="col-sm-4">
                            <input th:field="*{quantidade}" type="text" required="required" class="form-control"/>
                            <span class="help-block"></span>
                        </div>
                        <div th:if="${#fields.hasErrors('quantidade')}" class="alert alert-danger form-control input-md" th:errors="*{quantidade}" role="alert"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Produto novo</label>
                        <div class="col-sm-9">
                            <input th:field="*{novo}" type="checkbox"  class="filestyle"/>
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="col-md-3">

                        <select name="catPrincipal" multiple="multiple" size="8" style="width: 90%">
                            <option th:each="categoria  : ${categoriasPrincipais}" th:attr="value=${categoria.id}" th:text="${categoria.descricao}" onclick="subCategoria(1)"></option>
                        </select>

                    </div>

                    <div class="col-md-3">
                        <div id="resultBlock2">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div id="resultBlock3">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div id="resultBlock4">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div id="resultBlock5">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div id="resultBlock6">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div id="resultBlock7">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div id="resultBlock8">
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="button" class="btn btn-custom" onclick="enviarFomularioDeProduto()"><i class="fa fa-save"></i> Publish</button>
                            <!--<button type="submit" class="btn btn-custom"><i class="fa fa-save"></i> Publish</button>-->
                            <button type="button" class="btn btn-default"><i class="fa fa-close"></i> Cancel</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>

        <script th:inline="javascript">
            <!--$("#file-1").fileinput({-->
        <!--// you must set a valid URL here else you will get an error-->
        <!--allowedFileExtensions : ['jpg', 'png','gif'],-->
        <!--overwriteInitial: false,-->
        <!--maxFileSize: 1000,-->
        <!--maxFilesNum: 10,-->
        <!--//allowedFileTypes: ['image', 'video', 'flash'],-->
        <!--slugCallback: function(filename) {-->
            <!--return filename.replace('(', '_').replace(']', '_');-->
        <!--}-->
	       <!--});-->

	       $("#file-1").fileinput({
    uploadUrl: "/store/upload",
    language: 'pt-BR',
    previewFileIcon: '<i class="fa fa-file"></i>',
    allowedPreviewTypes: null, // set to empty, null or false to disable preview for all types
    previewFileIconSettings: {
        'docx': '<i class="fa fa-file-word-o text-primary"></i>',
        'xlsx': '<i class="fa fa-file-excel-o text-success"></i>',
        'pptx': '<i class="fa fa-file-powerpoint-o text-danger"></i>',
        'jpg': '<i class="fa fa-file-photo-o text-warning"></i>',
        'pdf': '<i class="fa fa-file-pdf-o text-danger"></i>',
        'zip': '<i class="fa fa-file-archive-o text-muted"></i>',
    }
});

$("#input-repl-2").fileinput({
    uploadUrl: "/store/menu/upload",
    language: 'pt-BR',
    autoReplace: true,
    maxFileCount: 5,
    allowedFileExtensions: ["jpg", "png", "gif"]
    <!--uploadExtraData:{teste:''} -->
    <!--dados extras-->
}).on('filebatchpreupload', function(event, data) {
       window.location.assign("/store/menu")

});

        </script>

    </div>


    <script type="text/javascript">
                    (function($){
                          var $form = $('#categoriaPricipal');
                          $form.on('submit', function(e) {
                            e.preventDefault();
                            $.ajax({
                              url: $form.attr('action'),
                              type: 'post',
                              data: $form.serialize(),
                              success: function(response) {
                                // if the response contains any errors, replace the form
                                if ($(response).find('.has-error').length) {
                                  $form.replaceWith(response);
                                } else {
                                  // in this case we can actually replace the form
                                  // with the response as well, unless we want to 
                                  // show the success message a different way
                                    window.alert("Produto Cadastrado com sucesso")
                                }
                              }
                          });
                        }(jQuery));
        
    </script>
