<div th:fragment="account-header" xmlns:th="http://www.thymeleaf.org">
    <div class="account-header"
         th:style="'background:url(' + @{/img/background/hero.jpg} + ')  no-repeat center center / cover  rgba(0, 0, 0, 1);'"
         th:with="userLogin=${#authentication.principal.userlogin}">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-3 col-lg-2">
                    <!-- User avatar -->
                    <div class="profile_avatar">
                        <a data-toggle="modal" href="#profileFormodal">
                        <img src="/img/people/uer.png"
                             th:src="${#authentication.principal.pathFotoPerfil}" alt="avatar" class="img-responsive"
                        />
                        </a>
                    </div>
                </div>
                <div class="col-sm-8 col-md-9 col-lg-10">
                    <div class="profile_summary" th:with="user=${userLogin.cliente != null ? userLogin.cliente
                    : userLogin.loja != null ? userLogin.loja : userLogin.administrador}">
                        <!-- User name -->
                        <h3 class="profile_name" th:text="${user.nome}">Nome da Empresa</h3>
                        <!-- User status -->
                        <!--<p>Campo livre</p>-->
                        <!-- Contact -->
                        <a href="/public/login/logout" class="btn btn-primary btn-warning btn-sm"><i class="fa fa-sign-out"></i> Sair</a>
                    </div> <!-- / .profile__summary -->
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div>
    <div th:replace="fragments/profileForm :: profileForm"></div>

</div>
