<div th:fragment="admin-menu">
    <div class="widget">
        <div class="widget-header">
            <h3>Menu</h3>
        </div>
        <div class="widget-body">
            <ul class="author-menus" id="accordion">

                <li><a href="#" onclick="showNovasSolicitacoes()">Aceitar novas solicitações</a></li>
                <li><a href="#" onclick="criarCategoria()">Cadastrar novas Categorias</a></li>
                <!--<li><a href="account_profile.html">Dados Da Empresa</a></li>-->
                <!--<li><a data-toggle="collapse" data-parent="#accordion" href="#dados">Dados Cadastrais</a></li>-->

                <li><a href="/public/login/logout">Sair</a></li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
   /*<![CDATA[*/



        function showNovasSolicitacoes() {
            var url = '/admin/menu/novasSolicitacoes';

            $("#resultsBlock").load(url);
        };

        function criarCategoria() {
            var url = '/admin/menu/criarCategoria';

            $("#resultsBlock").load(url);
        };

        function lojaPorstatus(status) {
            var url = '/admin/menu/novasSolicitacoes/porStatus?status='+status;

            $("#resultsBlock").load(url);
        }

        function buscarLojaPorNome() {
        var url = '/admin/menu/novasSolicitacoes/porStatusEnome?nome=';
         nome = document.getElementById('buscarPornome').value;
         status = document.getElementById('status').value;

         if(nome.length>2){
         url = url + nome + '&status=' + status;
            $("#resultProduct").load(url);
         }

        }

        function buscarLojaPorNomePaginas(i) {
        var url = '/admin/menu/novasSolicitacoes/porStatusEnomePaginas?nome=';
         nome = document.getElementById('buscarPornome').value;
         status = document.getElementById('status').value;

         if(nome.length>2){
         url = url + nome + '&status=' + status + '&paginaAtual='+i;
            $("#resultProduct").load(url);
         }

        }

        /*]]>*/

    </script>
</div>
