<div th:fragment="cadastrar-imagem-produto">
    <div class="panel panel-default" onload="loadFileInput()">
        <div class="panel-heading">
            <ul class="nav nav-tabs nav-justified" style="{background-color:none}">
                <li class="disabled"><a href="#" >Dados do Produto</a></li>
                <li class="active"><a href="#" data-toggle="tab">Imagens do Produto </a></li>
            </ul>

        </div>
                <div class="form-group">
                    <div class="form-group">
                        <input id="input-repl-2" name="file" type="file" class="file-loading" accept="image/*" multiple="multiple"/>
                        <span class="help-block"></span>
                    </div>
                </div>


    </div>

    <script th:inline="javascript">


        $("#input-repl-2").fileinput({
            uploadUrl: "/produto/menu/upload",
            language: 'pt-BR',
            autoReplace: true,
            maxFileCount: 5,
            uploadAsync: false,
            allowedFileExtensions: ["jpg", "png", "gif"],
            uploadExtraData:{
                            produtoId:[[${produtoId}]],
                            _csrf:[[${_csrf}]]
                            }
            <!--dados extras-->
        }).on('filebatchpreupload', function(event, data) {
               <!--window.location.assign("/store/menu")-->

        });

    </script>

</div>


