<div class="container" th:fragment="carrinho">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Carrinho de Compras</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Nome</th>
                                <th>Quantidade</th>
                                <th class="text-center">Preço unitário</th>
                                <th class="text-center">SubTotal</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="tabelaCarrinho">
                            <tr th:each="produtoMap : ${carrinho.getConteudo()}" th:id="'produto' +${produtoMap.key.id}">
                                <td class="col-xs-2">
                                    <img class="img-responsive" th:src="'/' + ${produtoMap.key.fotoPrincipal.path}"/>
                                </td>
                                <td class="col-md-4"><h5><strong th:text="${produtoMap.key.nome}"></strong></h5></td>
                                <td class="col-md-2" style="text-align: center">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default btn-number" min="0" step="1" th:onclick="'CarrinhoMenos(\''+ ${produtoMap.key.id} +'\');'">
                                                <i class="glyphicon glyphicon-minus"></i>
                                            </button>
                                        </span>
                                        <input type="text" th:id="'value' + ${produtoMap.key.id}" th:value="${produtoMap.value}" class="form-control input-number" readonly="readonly"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default btn-number" th:onclick="'CarrinhoMais(\''+ ${produtoMap.key.id} +'\');'">
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </td>
                                <td class="col-md-1 text-center"><strong th:id="'valorProduto'+${produtoMap.key.id}" th:text=" 'R$ ' + ${produtoMap.key.preco}"></strong></td>
                                <td class="col-md-1 text-center"><strong th:id="'valorTotalPorProduto'+${produtoMap.key.id}" th:text="'R$ ' + ${produtoMap.key.preco * produtoMap.value}"></strong></td>
                                <td class="col-sm-1 col-md-1">
                                    <button type="button" class="btn btn-danger" th:onclick="'destroiProduto(\''+ ${produtoMap.key.id} +'\');'">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-right"><h5>Valor Total</h5></td>
                                <td class="text-center"><h5><strong id="valorTotal" th:text=" 'R$ ' + ${carrinho.custoTotal}"></strong></h5></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-9 col-md-offset-7">
                                <a href="/" class="text-right"><button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> Continuar Comprando
                                </button></a>
                                <a href="/cliente/menu/finalizarCompras" class="btn btn-success text-center">
                                    Finalizar Compras <span class="glyphicon glyphicon-play"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

