<li id="carrinho" class="dropdown" th:fragment="carrinho-header">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        <span class="glyphicon glyphicon-shopping-cart"></span>
        <i th:id="totalCarrinho" th:value="${carrinho.totalNoCarrinho()}" th:if="${carrinho != null }" th:text="${carrinho.totalNoCarrinho()}"></i> - Items<span class="caret"></span></a>
    <ul class="dropdown-menu dropdown-cart" role="menu" th:if="${carrinho != null and carrinho.totalNoCarrinho() &gt; 0}">
        <li  th:each="produtoMap : ${carrinho.getConteudo()}">
                      <span class="item">
                        <span class="item-left">

                            <img th:src="'/'+${produtoMap.key.imagens != null and produtoMap.key.imagens.size() != 0 ? produtoMap.key.imagens.get(0).path : 'img/products/produto-sem-imagem.jpg'}"
                                 alt="" class="thumb-img img-responsive"/>

                            <span class="item-info">
                                <span th:text="${produtoMap.key.nome}"></span>
                                <span th:text=" 'R$ ' + ${#numbers.formatDecimal(produtoMap.key.preco, 0, 'POINT', 2, 'POINT')}"></span>
                                <span th:id="'qtd' + ${produtoMap.key.id}" th:text="'Quatidade ' + ${produtoMap.value}"></span>
                            </span>
                        </span>
                        <span class="item-right">
                            <button th:onclick="'removerDoCarrinho(\'' + ${produtoMap.key.id} + '\');'" class="btn btn-xs btn-danger pull-right">x</button>
                        </span>
                    </span>
        </li>

        <li class="divider"></li>
        <li><a class="text-center" href="/carrinho">View Cart</a></li>
    </ul>
</li>