<div th:fragment="change-password">
  <form role="form" action="/cliente/menu/alterarsenha" th:object="${alterarSenhaTO}" method="post">
        <!--th:action="@{/store/form}" th:object="${storeForm}" method="post"-->
        <h5>Alterar Senha</h5>
        <hr size="3" color="#E6E9ED"/>
        <div class="row form-group">

            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></div>
                    <input th:field="*{senhaAtual}" type="password" placeholder="senha atual" size="50"
                           class="form-control input-md" required="required"/>
                    <!--th:field="*{password}"-->
                    <div th:if="${erroSenha!=null}" th:text="${erroSenha}"
                         class="alert alert-danger form-control input-md">

                    </div>
                </div>


                <!--<div th:if="${#fields.hasErrors('password')}" class="alert alert-danger form-control input-md"-->
                     <!--th:errors="*{password}" role="alert">-->
                <!--</div>-->
            </div>

            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></div>
                    <input  th:field="*{novaSenha}" type="password" placeholder="Nova senha" size="50"
                           class="form-control input-md" required="required" />
                </div>
            </div>

        </div>
        <div class="form-group">
            <button class="btn btn-block btn-custom">Alterar Senha</button>
        </div>
  </form>
</div>