<div th:fragment="cliente-menu">
    <div class="widget">
        <div class="widget-header">
            <h3>Author Menus</h3>
        </div>
        <div class="widget-body">
            <ul class="author-menus" id="accordion">

                <li><a href="/cliente/menu/meusPedidos">Meus Pedidos</a></li>
                <!--<li><a href="#" onclick="">Criar novo Produto</a></li>-->
                <!--<li><a href="account_profile.html">Dados Da Empresa</a></li>-->
                <li><a data-toggle="collapse" data-parent="#accordion" href="#dados">Dados Cadastrais</a></li>
                <div id="dados" class="collapse">
                    <ul class="list-group">
                        <li><span class="glyphicon glyphicon-pencil"></span><a href="#" >Alterar Senha</a><br/></li>
                        <li><span class="glyphicon glyphicon-pencil"></span><a href="/cliente/menu/cadastrarDadosPrincipais">Concluir cadastro</a><br/></li>
                        <li><span class="glyphicon glyphicon-pencil"></span><a href="#" >Alterar endereço de Entrega</a></li>
                    </ul>
                </div>
                <li><a href="index.html">Sair</a></li>
            </ul>
        </div>
    </div>
</div>
