<div th:fragment="editar-imagem" xmlns:th="http://www.w3.org/1999/xhtml">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs nav-justified" style="{background-color:none}">
                    <li><a th:href="'/store/menu/editar/produto/' + ${produto.id}" data-toggle="tab">Dados do Produto</a></li>
                    <li class="active"><a th:href="'/store/menu/editar/produto/imagem/' + ${produto.id}" data-toggle="tab">Imagens do Produto </a></li>
                </ul>

            </div>

            <div class="form-group">
                <div class="form-group">
                    <input id="editarImagens" name="file" type="file" class="file-loading" accept="image/*" multiple="multiple"/>
                    <span class="help-block"></span>
                </div>
            </div>


        </div>

    <script th:inline="javascript">
    /*<![CDATA[*/

    var imagens = [[${produto.imagens}]]


       $("#editarImagens").fileinput({
            uploadUrl: "/produto/menu/upload", // server upload action
            uploadAsync: false,
            minFileCount: 1,
            maxFileCount: 5,
            overwriteInitial: false,
            initialPreview: [
            [[${imagensView}]]
            ],
            initialPreviewConfig: [
            <!--for (i = 0; i < imagens.length; i++) {-->
                    <!--{caption: "People-1.jpg", width: "120px", url: "/store/menu/imagen/delete", key: imagens[i].id},-->
            <!--}-->
                {caption: "People-1.jpg", width: "120px", url: "/site/file-delete", key: 1},
                {caption: "People-2.jpg", width: "120px", url: "/site/file-delete", key: 2},
            ],
            uploadExtraData: {
                produtoId:/* [[${produto.id}]] */ '1',
            }
        });


        /*]]>*/


    </script>
</div>
