<div th:fragment="findBanner">
    <section class="hero" >
        <div class="container text-center">
            <h2 class="hero-title">Encontre o que você procura aqui!</h2>
            <p class="hero-description hidden-xs">Encontre tudo o que você precisa no Freecommerce.com. Nós damos o caminho mais simples.</p>
            <div class="row hero-search-box">
                <form id="buscarProdutoForm" th:action="@{/produto}" th:object="${buscarProdutoTO}" method="get" onsubmit="return isValidForm()">
                    <div class="col-md-4 col-sm-4 search-input">
                        <input id="buscarProdutoInput" th:field="*{nome}" required="required" type="text" class="form-control input-lg search-first" placeholder="Estou com sorte"/>
                    </div>
                    <div class="col-md-4 col-sm-4 search-input">
                                <select th:field="*{cidade}" class="form-control input-lg search-second">
                                    <option th:each="cidade : ${cidades}"
                                            th:value="${cidade}"
                                            th:text="${cidade =='' ? 'Escolha uma cidade' : cidade}"></option>

                                    <option selected="selected" value="">Qualquer Cidade</option>

                                </select>
                    </div>
                    <div class="col-md-4 col-sm-4 search-input">
                        <button class="btn btn-custom btn-block btn-lg" onclick="enviarFormBusca()" ><i class="fa fa-search"></i></button>
                    </div>
                    <input id="pagina" th:field="*{page}" type="hidden" />
                </form>
            </div>
        </div>
    </section>
</div>