<div th:fragment="footer">
            <div class="counter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="item-counter">
                                <span class="item-icon"><i class="fa fa-database"></i></span>
                                <div data-refresh-interval="100" data-speed="3000" th:attr="data-to=${count.itmes()}" data-from="0" class="item-count">
                                <span th:text="${count.itmes()}"></span></div>
                                <span class="item-info">Itens</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="item-counter">
                                <span class="item-icon"><i class="fa fa-user-plus"></i></span>
                                <div data-refresh-interval="50" data-speed="5000" th:attr="data-to=${count.sellers()}" data-from="0" class="item-count">
                                    <span th:text="${count.sellers()}"></span></div>
                                <span class="item-info">Vendedores</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="item-counter">
                                <span class="item-icon"><i class="fa fa-map-marker"></i></span>
                                <div data-refresh-interval="80" data-speed="5000" th:attr="data-to=${count.locarion()}" data-from="0" class="item-count">
                                    <span th:text="${count.locarion()}"></span></div>
                                <span class="item-info">Localizações</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="item-counter">
                                <span class="item-icon"><i class="fa fa-users"></i></span>
                                <div data-refresh-interval="80" data-speed="5000" th:attr="data-to=${count.users()}" data-from="0" class="item-count">
                                    <span th:text="${count.users()}"></span></div>
                                <span class="item-info">Membros</span>
                            </div>
                        </div>
                    </div>
                </div> <!-- / .counter -->
            </div>
            <div class="footer">
                <div class="container">
                <ul class="pull-left footer-menu">
                    <li>
                        <a href="/"> Inicio </a>
                        <a href="about.html"> Sobre nós </a>
                        <a href="contact.html"> Entre em contato </a>
                    </li>
                </ul>
                <ul class="pull-right footer-menu">
                    <li> &copy; 2016 Eduardo Sanson </li>
                </ul>
                </div>
            </div>
        </div>