<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body>
<header class="navbar navbar-default navbar-fixed-top navbar-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><span class="logo"><i class="fa fa-recycle"></i> Free - Commerce</span></a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="new-ads"><a href="/" class="btn btn-ads btn-block">Inicio</a></li>
                <li><a href="/store" th:if="${#authentication.principal == 'anonymousUser'}" >Vender</a></li>
                <li th:if="${#authentication.principal == 'anonymousUser'}" ><a href="/public/login">Entrar</a></li>

                <li id="carrinho" th:replace="/fragments/carrinho-header :: carrinho-header"></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-user"></i> <strong
                            class="caret"></strong>&nbsp;</a>

                    <ul class="dropdown-menu" sec:authorize="hasRole('ROLE_ADMIN')">
                        <li><a href="/admin/menu">Menu Principal</a></li>
                        <li><a href="/public/login/logout">Sair</a></li>
                    </ul>

                    <ul class="dropdown-menu" sec:authorize="hasRole('ROLE_STORE')">
                        <li><a href="/store/menu">Meus Produtos</a></li>
                        <li><a href="/store/menu/createProduct">Cadastrar Produto</a></li>
                        <li><a href="/public/login/logout">Sair</a></li>
                    </ul>

                    <ul class="dropdown-menu" sec:authorize="hasRole('ROLE_CLIENT')">
                        <li><a href="/cliente/menu">Meus Pedidos</a></li>
                        <li><a href="/public/login/logout">Sair</a></li>
                    </ul>

                    <ul id="login-dp" class="dropdown-menu" th:if="${#authentication.principal == 'anonymousUser'}">

                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    Login via
                                    <div class="social-buttons">
                                        <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                                        <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                                    </div>
                                    or
                                    <form class="form" role="form" th:action="@{/public/login}" method="post" accept-charset="UTF-8"
                                          id="login-nav">
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputEmail2">Email</label>
                                            <input name="username" type="email" class="form-control" id="exampleInputEmail2"
                                                   placeholder="Endereço de e-mail" required="required"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputPassword2">Senha</label>
                                            <input name="password" type="password" class="form-control" id="exampleInputPassword2"
                                                   placeholder="Senha" required="required"/>
                                            <div class="help-block text-right"><p><a href="">Forget the password ?</a>
                                            </p></div>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"/> keep me logged-in
                                            </label>
                                        </div>
                                    </form>
                                </div>
                                <div class="bottom text-center">
                                    New here ? <a href="#" class="btn"><b>Join Us</b></a>
                                </div>
                            </div>
                        </li>
                    </ul>


                </li>

            </ul>
        </div>
    </div>
</header>
</body>

</html>