<head th:fragment="imports">
    
    <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="robots" content="index, follow"/>
        <title>Dlapak - General Listing Template</title>
    
    <link rel="stylesheet" 
              href="//fonts.googleapis.com/css?family=Open+Sans:regular,700,600&amp;latin" 
              th:href="@{//fonts.googleapis.com/css?family=Open+Sans:regular,700,600&amp;latin}" type="text/css" />
        
        <!-- Essential styles -->
        <link rel="stylesheet" 
              href="/css/bootstrap.css" 
              th:href="@{/css/bootstrap.min.css}" type="text/css"/>
        
        <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.css" 
              th:href="@{/plugins/font-awesome/css/font-awesome.css}" type="text/css"/>


        <link rel="stylesheet" href="/plugins/flexslider/flexslider.css"
          th:href="@{/plugins/flexslider/flexslider.css}"
          type="text/css" media="screen" />

        <!-- Dlapak styles -->
        <link id="theme_style" type="text/css" href="/css/style1.css"
              th:href="@{/css/style1.css}"
              rel="stylesheet" media="screen"/>


        <!-- Favicon -->
        <link href="/img/favicon.png" 
              th:href="@{/img/favicon.png}"
              rel="icon" type="image/png"/>

        <!-- Assets -->
        <link rel="stylesheet" 
              href="/plugins/owl-carousel/owl.carousel.css"
              th:href="@{/plugins/owl-carousel/owl.carousel.css}"/>
        
        <link rel="stylesheet" 
              href="/plugins/owl-carousel/owl.theme.css"
              th:href="@{/plugins/owl-carousel/owl.theme.css}"/>

        <link rel="stylesheet"
              th:href="@{/css/nav.css}"
              href="/css/nav.css"/>

    

        <!-- Essential styles -->
        
<!--        <link rel="stylesheet" href="assets/bootstrap/css/bootflat.css" type="text/css">-->
        
        <!-- JS Library -->
        <script src="/js/jquery.js"
                th:src="@{/js/jquery.js}"></script>
    
        <script src="/js/bootstrap.min.js"
                th:src="@{/js/bootstrap.min.js}"></script>
    
        <script src="/plugins/owl-carousel/owl.carousel.js"
                th:src="@{/plugins/owl-carousel/owl.carousel.js}"></script>
    
        <script src="/plugins/counter/jquery.countTo.js"
                th:src="@{/plugins/counter/jquery.countTo.js}"></script>

        <script src="/plugins/filestyle/bootstrap-filestyle.min.js"
                th:src="@{/plugins/filestyle/bootstrap-filestyle.min.js}"></script>

        <script defer="defer" src="/plugins/flexslider/jquery.flexslider.js"
                th:src="@{/plugins/flexslider/jquery.flexslider.js}"></script>
        
</head>
