<div class="row" th:fragment="productCategory">
    <div class="col-xs-4 col-sm-3">
        <div class="shortcut">
            <a href="#" onclick="buscarPorCategoria('catInfo')"><i style="line-height: 0.7;" class="glyphicon glyphicon-hdd shortcut-icon icon-blue"></i></a>
            <a id="catInfo" href="#" onclick="buscarPorCategoria('catInfo')"><h3>Informática</h3></a>
            <span class="total-items">234,567</span>
        </div>
    </div>
    <div class="col-xs-4 col-sm-3">
        <div class="shortcut">
            <a href="#" onclick="buscarPorCategoria('catGame')"><i class="fa fa-gamepad shortcut-icon icon-green"></i></a>
            <a id="catGame" href="#" onclick="buscarPorCategoria('catGame')"><h3>Games</h3></a>
            <span class="total-items">25,366</span>
        </div>
    </div>
    <div class="col-xs-4 col-sm-3">
        <div class="shortcut">
            <a href="#" onclick="buscarPorCategoria('catLivros')"><i class="fa fa-book shortcut-icon icon-brown"></i></a>
            <a id="catLivros" href="#" onclick="buscarPorCategoria('catLivros')"><h3>Livros</h3></a>
            <span class="total-items">252,546</span>
        </div>
    </div>
    <div class="col-xs-4 col-sm-3">
        <div class="shortcut">
            <a href="#" onclick="buscarPorCategoria('vestId')"><i class="fa fa-female shortcut-icon icon-violet"></i></a>
            <a id="vestId" href="#" onclick="buscarPorCategoria('vestId')"><h3>Vestuário</h3></a>
            <span class="total-items">52,546</span>
        </div>
    </div>
    <div class="col-xs-4 col-sm-3">
        <div class="shortcut">
            <a href="#" onclick="buscarPorCategoria('mobId')"><i class="fa fa-mobile-phone shortcut-icon icon-dark-blue"></i></a>
            <a id="mobId" href="#" onclick="buscarPorCategoria('mobId')"><h3>Mobile</h3></a>
            <span class="total-items">215,546</span>
        </div>
    </div>
    <div class="col-xs-4 col-sm-3">
        <div class="shortcut">
            <a href="#" onclick="buscarPorCategoria('sportId')"><i class="fa fa-soccer-ball-o shortcut-icon icon-orange"></i></a>
            <a id="sportId" href="#" onclick="buscarPorCategoria('sportId')"><h3>Sportivo</h3></a>
            <span class="total-items">415,546</span>
        </div>  
    </div>
    <div class="col-xs-4 col-sm-3">
        <div class="shortcut">
            <a href="category.html"><i class="fa fa-gears shortcut-icon icon-light-blue"></i></a>
            <a href="category.html"><h3>Industry</h3></a>
            <span class="total-items">15,546</span>
        </div>  
    </div>
    <div class="col-xs-4 col-sm-3">
        <div class="shortcut">
            <a href="category.html"><i class="fa fa-wrench shortcut-icon icon-light-green"></i></a>
            <a href="category.html"><h3>Job</h3></a>
            <span class="total-items">152,546</span>
        </div>  
    </div>
</div>
