<div class="widget" th:fragment="quickSignup">
    <div class="widget-header">
        <h3>Cadastro Rápido</h3>
    </div>
    <div class="widget-body">
        <p th:if="${quickSingErro}" th:text="${errorMessage}"> Senha ou Login não conferem</p>
        <p th:if="${clienteCadastrologinErro !=null}" th:text="${clienteCadastrologinErro}"></p>
        <form th:action="@{/cliente/form}" th:object="${cadastrarClienteTO}" method="post">
            <div class="form-group">
                <input th:field="*{nome}" type="text" class="form-control input-lg" placeholder="Name"/>
                <div th:if="${#fields.hasErrors('nome')}" class="alert alert-danger form-control input-md"
                     th:errors="*{nome}" role="alert"></div>
            </div>
            <div class="form-group">
                <input th:field="*{login}" type="text" class="form-control input-lg" placeholder="Email"/>
                <div th:if="${#fields.hasErrors('login')}" class="alert alert-danger form-control input-md"
                     th:errors="*{login}" role="alert"></div>
            </div>
            <div class="form-group">
                <input th:field="*{senha}" type="password" class="form-control input-lg" placeholder="Password"/>
                <div th:if="${#fields.hasErrors('senha')}" class="alert alert-danger form-control input-md"
                     th:errors="*{senha}" role="alert"></div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label class="string optional" for="terms">
                        <input type="checkbox" id="terms" style=""/>
                        <a href="#">aceito os termos e condições</a>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-block btn-custom">Cadastrar</button>
            </div>
        </form>
    </div>
</div>