<div th:fragment="store-products">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Produtos</h4>
        </div>
        <div class="panel-body">
            <div class="before-table">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="account_create_post.html" class="btn btn-custom"><i class="fa fa-plus"></i> New Ads</a>
                    </div>
                    <div class="col-xs-6">
                        <form class="form-inline pull-right">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="q" placeholder="Type keyword ..." class="form-control"/>
                                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="resultProduct">
            <table class="table table-bordered" >
                <thead>
                <tr>
                    <th><input id="checkAll" type="checkbox" /></th>
                    <th>Photo</th>
                    <th>Details</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th style="width:10%">Option</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="produto  : ${produtoPage.produtos}">
                    <td><input type="checkbox" /></td>
                    <td><img alt="" class="thumb-img img-responsive"
                             src="${produto.fotoPrincipal.path}"
                             th:src="'/'+${produto.fotoPrincipal.path}"/></td>
                    <td>
                        <div class="item-title"><a href="detail.html" target="_blank"><strong th:text="${produto.nome}"></strong></a></div>
                        <div class="item-meta">
                            <ul>
                                <li class="item-date"><i class="fa fa-clock-o"></i> Today 10.35 am</li>
                                <li class="item-location"><a href="category.html"><i class="fa fa-map-marker"></i> Manchester</a></li>
                                <li class="item-type"><i class="fa fa-bookmark"></i> Used</li>
                            </ul>
                        </div>
                    </td>
                    <td><strong th:text="'R$ ' + ${produto.preco}"></strong></td>
                    <td>Active</td>
                    <td>
                        <ul class="actions-table">
                            <li><a class="label label-success"><i class="fa fa-pencil"></i> edit</a></li>
                            <li><a class="label label-warning"><i class="fa fa-close"></i> disable</a></li>
                            <li><a href="#" class="label label-danger" onclick="return confirm('Remove this item?')"><i class="fa fa-trash"></i> delete</a></li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
                <div class="row">
                    <div class="col-xs-3">
                        <select class="form-control">
                            <option selected="">Bulk Action</option>
                            <option>Block</option>
                            <option>Delete</option>
                        </select>
                    </div>
                    <div class="col-xs-9 text-right">
                        <ul class="pagination table-pagination"  th:each="i : ${page.primeiraMetade}">
                            <li ><input th:class="${i}==${page.paginaAtual}?'btn btn-default active disabled' : 'btn'" type="button" onclick="showProductPage(this.value)" th:value="${i}"/></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        function showProductPage(page) {
            var url = '/store/menu/showMyProductsPage/';

            $("#resultProduct").load(url+page);
        }

    </script>

</div>