<div th:fragment="store-menu">
    <div class="widget">
        <div class="widget-header">
            <h3>Menu</h3>
        </div>
        <div class="widget-body">
            <ul class="author-menus" id="accordion">

                <li><a href="#" onclick="showProduct()">Meus Produtos</a></li>
                <li><a href="/store/menu/createProduct">Criar novo Produto</a></li>
                <li><a data-toggle="collapse" data-parent="#accordion" href="#dados">Dados Cadastrais</a></li>
                <div id="dados" class="collapse">
                    <ul class="list-group">
                        <li><span class="glyphicon glyphicon-pencil"></span><a href="#" onclick="showChangePassword()">Alterar Senha</a><br/></li>
                        <li><span class="glyphicon glyphicon-pencil"></span><a href="#" onclick="showChangeAddress()">Alterar Endereço</a><br/></li>
                        <li><span class="glyphicon glyphicon-pencil"></span><a href="#" onclick="showChangeRegistration()">Dados da Empresa</a></li>
                    </ul>
                </div>
                <li><a href="/public/login/logout">Sair</a></li>
            </ul>
        </div>
    </div>
</div>
