<div th:fragment="store-products">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Produtos</h4>
        </div>
        <div class="panel-body">
            <div class="before-table">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="/store/menu/createProduct" class="btn btn-custom"><i class="fa fa-plus"></i>Add Produto</a>
                    </div>
                    <!--<div class="col-xs-6">-->
                        <!--<form class="form-inline pull-right">-->
                            <!--<div class="form-group">-->
                                <!--<div class="input-group">-->
                                    <!--<input type="text" name="q" placeholder="Type keyword ..." class="form-control"/>-->
                                    <!--<div class="input-group-addon"><i class="fa fa-search"></i></div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</form>-->
                    <!--</div>-->
                </div>
            </div>
            <div id="resultProduct" th:replace="fragments/productStorePage :: storeProductPage">

            </div>
        </div>
    </div>

</div>